<div class="json-loader">
  <input 
    type="file" 
    id="json-file-input" 
    accept=".json"
    (change)="onFileSelected($event)"
    style="display: none;"
  />
  
  <button 
    mat-icon-button
    class="control-button load-button"
    (click)="triggerFileInput()"
    [disabled]="isLoading"
    [matTooltip]="'JSON laden'"
  >
    <mat-icon *ngIf="!isLoading">folder_open</mat-icon>
    <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
  </button>

  <div class="error-toast" *ngIf="showError">
    <mat-icon class="error-icon">warning</mat-icon>
    <span class="error-text">{{ errorMessage }}</span>
  </div>
</div>
