<div class="language-switcher">
  <!-- Current Language Button -->
  <button 
    mat-icon-button
    class="control-button language-button"
    [matMenuTriggerFor]="languageMenu"
    [matTooltip]="'LANGUAGE.CURRENT' | translate"
  >
    <span class="flag">{{ currentLanguage.flag }}</span>
    <span class="language-code">{{ currentLanguage.code.toUpperCase() }}</span>
  </button>

  <!-- Language Menu -->
  <mat-menu #languageMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let lang of languages"
      (click)="selectLanguage(lang.code)"
    >
      <span class="flag">{{ lang.flag }}</span>
      <span class="language-name">{{ lang.name }}</span>
      <mat-icon *ngIf="isActive(lang.code)" class="checkmark">check</mat-icon>
    </button>
  </mat-menu>
</div>
