<div class="language-switcher">
  <!-- Current Language Button -->
  <button 
    mat-button
    [matMenuTriggerFor]="languageMenu"
    [title]="'LANGUAGE.CURRENT' | translate"
    class="language-button"
  >
    <span class="flag">{{ currentLanguage.flag }}</span>
    <span class="language-code">{{ currentLanguage.code.toUpperCase() }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <!-- Language Menu -->
  <mat-menu #languageMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let lang of languages"
      [class.active]="isActive(lang.code)"
      (click)="selectLanguage(lang.code)"
    >
      <span class="flag">{{ lang.flag }}</span>
      <span class="language-name">{{ lang.name }}</span>
      <mat-icon *ngIf="isActive(lang.code)" class="checkmark">check</mat-icon>
    </button>
  </mat-menu>
</div>
